@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html {
    overflow-x: hidden;
	box-sizing: border-box;
}

html, .profile {
	font-family: 'Montserrat', sans-serif;
}

.profile {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 30vw;
	padding: 30px;
	background-image: url("images/overlay.png"), linear-gradient(90deg, rgb(68, 35, 94), rgba(93, 66, 211, 0.8));
	background-size: auto, 200%;
}

body {
	overflow-x: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}

.profile strong {
	color: #ffffff;
}

.profile h1 {
	padding-top: 25px;
}

.profile h1, .profile h2 {
	color: rgba(255, 255, 255, 0.5);
}

.profile h1 {
	font-size: 30px;
	margin: 10px;
}

.profile h2 {
	font-size: 20px;
}

.project, .curso {
	text-align: center;
	box-sizing: content-box;
	padding: 20px;
	width: 80vw;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.2);
	border-radius: 25px;
}

.image__overlay, .description, .project, .canvas, .profile, #projects, #courses, #rightContainer, #info, #popup, #bmItems, #contact, #termWrapper, body {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#rightContainer img,
#rightContainer .image__overlay,
.project, .curso {
	width: 55vw;
}

#rightContainer {
	margin: 0;
	margin-left: auto;
	width: 70vw;
	background-color: white;
}

.navbar-header {
	position: absolute;
	margin-top: 0;
	margin-right: 0;
	margin-left: auto;
	align-items: flex-end;
	background: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(5px);
	top: 0;
	right: 0;
	z-index: 1;
	width: 70vw;
	height: 7vh;
	color: white;
	font-size: 3.5vh;
}

#popup {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	visibility: hidden;
}

.icon {
	color: rgba(255, 255, 255, 0.4);
	text-decoration: none;
	border-bottom: none;
	position: relative;
	padding: 0 20px 0;
}

.icon:hover {
	color: white;
}

.icon:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400;
}

.icon.fa-solid:before {
	font-weight: 900;
}

.icon.fa-brands:before {
	font-family: 'Font Awesome 5 Brands';
}

.icons {
	padding: 20px;
	font-size: 3.5vh;
}

.icons:active {
	color: none;
}

::-webkit-scrollbar {
    display: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.project img, .curso img {
	background: rgba(0, 0, 0, 0.9);
	width: 80vw;
	height: 74%;
	border-radius: 20px;
}

.canvas{
	position: relative;
}

#avatar img {
	border-radius: 100%;
}

#avatar {
	cursor: pointer;
	position: relative;
	width: 80%;
	max-width: 400px;
}

.image__img {
	display: block;
	width: 100%;
}

.image__overlay {
	position: absolute;
	background-image: url("images/overlay.png");
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
	color: rgba(255, 255, 255, 1);
	font-size: auto;
	font-weight: bolder;
	opacity: 0;
	transition: opacity 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

#avatar .image__overlay {
	font-size: 125%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(6px);
	border-radius: 100%;
}

.project .image__overlay, .curso .image__overlay{
	bottom: 0;
	left: 0;
	width: 80vw;
	height: 100%;
	border-radius: 20px;
	font-size: 150%;
}

input, #msgInput {
	font-weight: 600;
	font-size: 18px;
	color: white;
	text-align: left;
	background-color: rgba(255, 255, 255, 0);
	caret-color: rgb(250, 208, 0);
	padding: 0;
	border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

input {
	width: 3ch;
}

#termWrapper {
	font-family: 'Fira Code', monospace;
	font-weight: 600;
	width: 100%;
	min-width: 50%;
	overflow: hidden;
	position: relative;
	padding: 3vw;
}

#term {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0.3in;
	padding-bottom: 0;
	height: 500px;
	border-radius: 0 0 10px 10px;
	font-size: 18px;
	color: white;
	background-image: url("images/overlay.png");
	background-color: rgb(68, 35, 94);
	overflow-y: scroll;
}

#term strong {
	color: rgb(58, 217, 0);
	margin-right: 1ch;
}

#status__bar {
	position: relative;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 100%;
	height: 6%;
	background-color: rgb(44, 22, 61);
	font-size: 15px;
	border-radius: 10px 10px 0 0;
	color: rgba(255, 255, 255, 0.6);
}

.fa-folder {
	color: rgba(255, 255, 255, 0.6);
	padding: 8px;
	padding-left: 15px;
}

.output {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divider {
	margin: 50px;
	width: 100%;
	height: 15px;
	border-radius: 2px;
	box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	border: none;
}

#projects, #courses, #info, #contact {
	font-family: 'Montserrat', sans-serif;
	z-index: 0;
	width: 95%;
	border-radius: 20px;
}

#projects h1, #courses h1, #info h1, #contact h1 {
	font-weight: bold;
	font-size: 40px;
}

#yoProgramo {
	background-color: rgba(0, 119, 182, 0.9);
}


#fullsize__avatar {
	position: relative;
	width: 700px;
	height: 700px;
}

#fullsize__avatar img {
	width: 700px;
	border-radius: 10px;
}

#closeX {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	right: 0;
	margin: 15px;
	justify-content: end;
	font-size: 40px;
	background: none;
	border: none;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.4);
}

#closeX:hover {
	color: white;
}

.command{
	display: inline;
	align-items: center;
}

#email, #message , #send{
	display: none;
}

#msgInput {
	width: 55vw;
	overflow-y: hidden;
	position: absolute;
	left: 50px;
	text-indent: 90px;
	padding-bottom: 0;
}

#burgerMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	top: 0;
	right: 0;
	width: 250px;
	height: auto;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 0 0 10px 10px;
	visibility: hidden;
}

.bmIcon {
	padding: 0.1in;
	margin: 0;
	cursor: pointer;
	text-align: right;
}

ul {
	padding: 20px;
	list-style-type: none;
}

.bmItem {
	padding: 5px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.bmItem:hover {
	color: white;
}

#bmItems {
	font-size: 30px;
	margin: 0;
}

.viewMore {
	font-weight: 900;
	border: none;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	margin: 30px;
}

#yoProgramo__Btn:hover {
	cursor: default;
}

.description {
	font-weight: 600;
	width: 60%;
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
}

#message {
	padding-right: 0;
}

.nav-link {
    cursor: pointer;
}

.navbar {
	position: fixed;
	text-align: right;
	top: 0;
	left: 0;
	width: 100vw;
}